$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";


// $minMedium: "(min-width: 992px)";

/* Color */
$redColor: #E2494C;
$greyColor: #D9D9D9;
$whiteColor: #FFF;

/* Float */
$float-right: right;
$float-left: left;

/* Text Align */
$text-right: right;
$text-left: left;